img{
    height: 50px;
}

header ::placeholder{
    color: #222;
}

/**{
    border: 1px solid black;
}*/

td i{
    color: darkgray;
}

td a:hover{
    filter: brightness(50%);
}

tr:hover{
    filter: brightness(95%);
}

.text-bg-loan{
    color: white;
    background-color: #ffc107;
}